<ion-content >
  <div class="no-scroll">

  
<div class="logo">
    <img src="../../assets/blacklogo.svg" alt="">
  </div>
  <div class="container">
    <div class="form">
      <h1>Reset Password</h1>
      <div>
          <form [formGroup]="resetPasswordForm"  (ngSubmit)="resetPasswordForm()">
          <div class="input">
            <p>Email</p>
            <input type="email" formControlName="email" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" type="email" (keyup.enter)="resetPasswordForm()" >
          </div>
          <div class="error">
            <div *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" class="messages">
              Please enter a valid email.
            </div>
          </div>

          <button   type="submit" (click)="resetPassword(resetPasswordForm)" 
          [disabled]="!resetPasswordForm.valid" class="mmatli"></button>

          <div class="forgot">
            <button (click)="goToReg()">Don't have an account?</button>
          </div>

         


          <div class="create">
            <button >Already have and account?</button>
          </div>
          <br>
          <div class="button">
            <button   type="submit" (click)="resetPassword(resetPasswordForm)" 
            [disabled]="!resetPasswordForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ion-footer no-border>
      <!-- <img src="../../assets/MaskFooter.svg" alt=""> -->
    </ion-footer>
</div>
</ion-content>