<ion-content>

    <div #map id="map" (click)="showTab()"></div>
    
    <div #list [ngClass]="{'list': display, 'listinactive': !display}">
      <div (click)="swipeUp()" class="toggler">
        <ion-icon *ngIf="display" color="dark" class="arrow" name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="!display" class="arrow" name="arrow-dropup"></ion-icon>
        <p *ngIf="!display" color="dark">REQUESTS</p>
      </div>
      <div class="s-list" padding>
  
        <div class="card">
  
          <div class="image">
            <img src="../../assets/Samuel_L._Jackson.jpg" alt="No Image">
          </div>
          <div class="details">
            <div class="det">
              <p style="font-size: 4vw;font-weight: bold">Samuel L Jackson</p>
              <p style="font-size: 3vw">Dippenaar St, Diepkloof Zone, Johannesburg</p>
              <p style="font-size: 3vw">Contacts</p>
              <p style="font-size: 2.5vw">015 325 256</p>
              
              <div class="butons">
  
  
              <div class="btns">
                <button class="bt1">
                  Accept
                </button>
              </div>
              <div class="btns2">
                <button class="bt2">
                  Decline
                </button>
              </div>
            </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </ion-content>


